<% title 'About DevCon' %>
<div class="row faq">
  <div class="col-sm-9">
    <h1>About DevCon</h1>

    <p>Developers Connect (DevCon) Philippines is a non-proﬁt organization which aims to empower Filipino developers and promote the "IT Pinoy Talent" by providing unique venues for IT students, educators, professionals and enthusiasts to <em>Sync, Support and Succeed</em>.</p>

    <h2>History</h2>

    <p>DevCon was founded in June 26, 2009.</p>

    <p>DevCon is a pioneering project of the Philippine Software Industry Association (PSIA). Its pilot event, DevCon Visayas, was held at the TechBar in Cebu City. DevCon also spanned a ten-city nationwide tour as part of the Next Wave Cities roadshow run by the then Commission on Information and Communications Technology (CICT) and Business Processing Association of the Philippines (BPA/P) in 2009.</p>

    <p>To increase its reach, DevCon has signed a partnership with the Philippine Society of IT Educators (PSITE) to make DevCon accessible to IT students nationwide. Furthermore, to ensure that DevCon's presence will continue to grow, DevCon registered under the Securities and Exchange Commission as a non-profit organization.</p>

    <h2>DevCon's Achievements</h2>
    <p>DevCon is the youngest yet most comprehensive IT capabilities development organization in the Philippines. Known for hosting free <em>unconferences</em> for IT students, educators, professionals and enthusiasts, DevCon has grown to having over <em>20,000</em> participants since June 2009. It is highly sought after by educational institutions through its campus DevCon programs that aim to augment the academic learnings of students with up-to-date trends in the IT industry.</p>

    <p>Aside from its regular activities, DevCon also organizes special events that promote the IT industry. Two of the big special events so far are the Hack2Hatch: From Hacker to Founder and DevCon Code Challenge Cup (C-Cup).</p>
    
    <p><em>Hack2HATCH: From Hacker to Founder</em> was co-organized DevCon and PhilDev, a non-profit that promotes tech innovation in the Philippines. Hack2Hatch was a technopreneurship event in Cebu City held last 05-07 October 2012 in Radisson Blu Hotel and Mactan Shangri-La Resort where 22 Philippine startups competed to be among the top 8 teams to each get <em><%= number_to_currency 100000.00 %></em> in funding. Mentors and judges included Silicon Valley entrepreneurs, PhilDev board and trustees, and top businessmen in the country.</p>

    <div class="row hack2hatch-row">
      <div class="col-lg-10 col-md-10 col-sm-10 col-sm-offset-1">
        <div class="thumbnail h2h-faq">
          <%= image_tag "faq/h2h.jpg", :alt => "Hack2HATCH" %>
          <div class="caption"><a href="http://www.hack2hatch.com/" target="_blank">Hack2HATCH</a> Winners, Mentors and Judges at the Mactan Shangri-La Resort</div>
        </div>
      </div>
    </div>

    <p><em>DevCon Code Challenge Cup (C-Cup)</em>, held on November 2012, was a national algorithm programming competition mixed with the dexterity of a hackathon with over 45 high school, collegiate and professional teams participated in the event.</p>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 col-sm-offset-2">
        <div class="thumbnail ccup">
          <%= image_tag "faq/ccup.jpg", :alt => "Code Challenge Cup" %>
          <div class="caption"><a href="http://devcon.ph/events/devcon-code-challenge-cup-c-cup" target="_blank">DevCon–Xavier Code Challenge Cup (C-Cup)</a></div>
        </div>
      </div>
    </div>
  </div>
  <%= render :partial => 'about_sidebar', :locals => { :selected => 'top' } %>
</div>
