<% title 'Contact' %>
<div class="row">
  <div class="col-sm-12">
    <h1>Contact</h1>
    <p>For general inquiries, email <a href="mailto:mailbox@devcon.ph">mailbox@devcon.ph</a> or <a href="mailto:haifa@devcon.ph">haifa@devcon.ph</a>.</p>
    <p>For inquiries on membership and volunteer activities, email <a href="mailto:haifa@devcon.ph">carlo@devcon.ph</a>.</p>
    <p>For event proposals and campus DevCon inquiries, email <a href="mailto:haifa@devcon.ph">terence@devcon.ph</a>.</p>
    <p>For sponsorship offers and partnership opportunities, email <a href="mailto:haifa@devcon.ph">jossie@devcon.ph</a>.</p>
    <p>For technology-related inquiries and website concerns, email <a href="mailto:haifa@devcon.ph">bry@devcon.ph</a>.</p>
    <p>For event invites and to sign up for our mailing list, email <a href="mailto:haifa@devcon.ph">florida@devcon.ph</a>.</p>
    <p>For daily updates and interaction, follow us in any or all of these social networks:</p>
    <p>
      Twitter: <a href="https://twitter.com/DevConPH">@DevConPH</a><br/>
      Facebook Page: <a href="http://www.facebook.com/DevConPH">DevCon Philippines</a><br/>
      Facebook Group: <a href="http://www.facebook.com/groups/devconph/">DevCon Philippines</a><br/>
      Eventbrite: <a href="http://devconph.eventbrite.com/">DevConPH</a><br/>
      YouTube: <a href="http://youtube.com/DevConPH/">DevConPH</a>
    </p>
  </div>
</div>
