<div class="row-fluid">
  <div class="span10 offset1">
    <h1>Error 404</h1>
    <p>We can't seem to find the page you're looking for, so here's Nyan Cat instead:</p>
    <object width="640" height="480"><param name="movie" value="http://www.youtube-nocookie.com/v/QH2-TGUlwu4?version=3&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube-nocookie.com/v/QH2-TGUlwu4?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="640" height="480" allowscriptaccess="always" allowfullscreen="true"></embed></object>
    <p><%= link_to "Go back to homepage", root_url %></p>
  </div>
</div>
