<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1>Error 500</h1>
    <p>Something went wrong with processing your request.</p>
    <p>If you keep seeing this page, inform <a href="mailto:bry@devcon.ph">Bry</a> ASAP. In the meantime, here's Nyan Cat to keep you company:</p>
    <iframe width="640" height="480" src="http://www.youtube-nocookie.com/embed/QH2-TGUlwu4?rel=0" frameborder="0" allowfullscreen></iframe>
    <p><%= link_to "Go back to homepage", root_url %></p>
  </div>
</div>
