<div class="row faq">
  <div class="col-sm-9">
    <h1>Fact Sheet</h1>

    <p><em>Coming soon...</em></p>
  </div>
  <%= render :partial => 'about_sidebar', :locals => { :selected => 'fact_sheet' } %>
</div>
