<% title "Fact Sheet" %>
<% description "Developers Connect Philippines (DevCon) is a non-proﬁt organization which aims to promote the \"IT Pinoy Talent\" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to Sync, Support and Succeed." %>
<% set_meta_tags :open_graph => {
  :title => "#{ENV['title']} | Fact Sheet",
  :description => "Developers Connect Philippines (DevCon) is a non-proﬁt organization which aims to promote the \"IT Pinoy Talent\" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to Sync, Support and Succeed.",
  :type  => :website,
  :url   => fact_sheet_url,
  :image => [opengraph_thumb_url, { :width => 200, :height => 200 }]
} %>
<div class="row faq">
  <div class="col-sm-9">
    <h1>Fact Sheet</h1>

    <h2>Mission</h2>

    <p>To promote collaborative growth and global competence of Filipino developers in the academe and IT industry.</p>

    <h2>Vision</h2>

    <p>A country with highly active communities of globally competent developers.</p>

    <h2>Values</h2>

    <dl>
      <dt>Collaborative</dt>
      <dd>We prioritize teamwork and shared goals.</dd>
    </dl>

    <dl>
      <dt>Proactive</dt>
      <dd>We take the initiative and get involved.</dd>
    </dl>

    <dl>
      <dt>Integrity</dt>
      <dd>We act consistently with DevCon's mission, being honest and transparent in what we do and say, and accept responsibility for our collective and individual actions.</dd>
    </dl>

    <dl>
      <dt>Respect</dt>
      <dd>We affirm the dignity, potential and contribution of participants, donors, partners and volunteers.</dd>
    </dl>

    <dl>
      <dt>Commitment</dt>
      <dd>We work together effectively to serve the larger community.</dd>
    </dl>


  </div>
  <%= render :partial => 'about_sidebar', :locals => { :selected => 'fact_sheet' } %>
</div>
