<% title "Fact Sheet" %>
<% description "Developers Connect Philippines (DevCon) is a non-proﬁt organization which aims to promote the \"IT Pinoy Talent\" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to Sync, Support and Succeed." %>
<% set_meta_tags :open_graph => {
  :title => "#{ENV['title']} | Fact Sheet",
  :description => "Developers Connect Philippines (DevCon) is a non-proﬁt organization which aims to promote the \"IT Pinoy Talent\" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to Sync, Support and Succeed.",
  :type  => :website,
  :url   => fact_sheet_url,
  :image => [opengraph_thumb_url, { :width => 200, :height => 200 }]
} %>
<div class="row faq">
  <div class="col-sm-9">
    <h1>Fact Sheet</h1>

    <p><em>Coming soon...</em></p>
  </div>
  <%= render :partial => 'about_sidebar', :locals => { :selected => 'fact_sheet' } %>
</div>
