<% title 'Keep in Touch' %>
<div class="row faq">
  <div class="col-sm-12">
    <h1>Keep in Touch</h1>

    <p>The preferred way to receive notifications about upcoming events is to subscribe to our <strong>RSS feed</strong> with a feed aggregator like Feedly or Mozilla Thunderbird. Not only does this provide you more up-to-date notifications compared to the others in this list, you are also notified about new articles on this site.</p>
    <p>The URLs for the feeds are <a href="http://devcon.ph/feed">http://devcon.ph/feed</a> (Atom) and <a href="http://devcon.ph/feed.rss">http://devcon.ph/feed.rss</a> (RSS). Most feed aggregators can also automatically detect the appropriate address from the home page (<a href="http://devcon.ph">http://devcon.ph</a>).</p>
    <p>The next preferred method is to subscribe to our <strong>Event Calendar</strong> at <a href="http://devcon.ph/calendar.ics">http://devcon.ph/calendar.ics</a>. It's in <a href="http://en.wikipedia.org/wiki/ICalendar">iCalendar</a> format which means you can download the file and import it into your preferred calendar app. Some apps like Google Calendar and Mozilla Lightning also allow you to subscribe to the URL and have your calendar updated as soon as a new event is added to the calendar. <a href="https://support.google.com/calendar/answer/37100?hl=en">Here</a> are the instructions how to subscribe to the calendar using Google Calendar, while <a href="https://discussions.apple.com/message/23675414#23675414">this</a> shows how to do the same on an iOS device.</p>
    <p>You can also <%= link_to 'subcribe to our mailing list', contact_path %> and follow us on Twitter and Facebook (see links in the footer below) but note that only major events are announced on these. Also, due to the recent changes to Facebook Pages, announcements posted on our FB page may not show up in your news feed.</p>
    <p>Finally, you can also <%= link_to 'volunteer for DevCon', volunteer_path %> and receive information about events before they are posted.</p>
  </div>
</div>
