<% title 'Request an Event' %>
<% description "Developers Connect Philippines (DevCon) is a non-proﬁt organization which aims to promote the \"IT Pinoy Talent\" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to Sync, Support and Succeed." %>
<% set_meta_tags :open_graph => {
  :title => "#{ENV['title']} | Request an Event",
  :description => "Developers Connect Philippines (DevCon) is a non-proﬁt organization which aims to promote the \"IT Pinoy Talent\" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to Sync, Support and Succeed.",
  :type  => :website,
  :url   => events_request_url,
  :image => [opengraph_thumb_url, { :width => 200, :height => 200 }]
} %>
<div class="row faq">
  <div class="col-sm-9">
    <h1>Request an Event</h1>
    <h2>Campus DevCon</h2>

    <p>If you wish to hold a Campus DevCon at your school, send an email to our VP for Programs via <a href="mailto:nathan@devcon.ph">nathan@devcon.ph</a> with the following information:</p>

    <ul>
      <li>Target Date, Time and Venue (with complete address)</li>
      <li>Estimated Number of Attendees</li>
      <li>Demographics of Attendees (year level, course/major)</li>
      <li>Desired Theme/Topics/Speakers</li>
      <li>About the School (map, links)</li>
      <li>Sponsors (if any)</li>
      <li>Point Person, Designation, Contact Details</li>
    </ul>

    <p>And here are the guidelines for hosting a Campus DevCon:</p>

    <ul> 
      <li>The invitation must be sent to DevCon via email at least a month in advance.</li>
      <li>Expenses of the speakers and DevCon members/volunteers related to food, travel and accommodations (if the school is in another region where an overnight stay is recommended) are to be shouldered by the school as much as possible.</li>
      <li>DevCon tarpaulins should be allowed to be displayed in the event premises.</li>
      <li>The venue must be conducive for a campus DevCon (ie, there's proper air-conditioning, a good sound system, an appropriate number of seats, etc).</li>
      <li>If the school lacks equipment (eg, projector, projector adapter for Mac), it must be made known beforehand so DevCon can source for one.</li>
      <li>Documentation (photo/video) can be shared to DevCon by means of social media.</li>
      <li>DevCon does not automatically provide schwags (freebies) so it's better if you find sponsors for that.</li>
    </ul>

    <p>A Campus DevCon may be organized without the assistance and/or presence of DevCon members provided that it has been pre-approved by the VP for Programs as an independently organized event. This may happen if the said school has already successfully held a Campus DevCon before or if there are DevCon volunteers or student partners coordinating with DevCon itself.</p>

    <h2>Code Camp</h2>

    <p><em>Coming soon..</em></p>
  </div>
  <%= render :partial => 'events_sidebar', :locals => { :selected => 'request' } %>
</div>
