<% title "Sponsor Events" %>
<% description "DevCon events are free and are made possible by the generous support from the community. Here's how you can sponsor events." %>
<% set_meta_tags :open_graph => {
  :title => "#{ENV['title']} | Sponsor Events",
  :description => "DevCon events are free and are made possible by the generous support from the community. Here's how you can sponsor events.",
  :type  => :website,
  :url   => sponsor_url,
  :image => [opengraph_thumb_url, { :width => 200, :height => 200 }]
} %>
<div class="row faq">
  <div class="col-sm-9">
    <h1>Sponsor Events</h1>

    <p>DevCon events are free with the support from the community to fund event expenses. Sponsorships fall into two categories:</p>

    <dl>
      <dt>Quarterly Partnerships</dt>
      <dd>Among the benefits of a quarterly partner are brand exposure online and offline, speakership opportunities to Campus DevCon and Code Camp events conducted all throughout the country, and special partnership events.</dd>
    </dl>

    <dl>
      <dt>Per Event Sponsorship</dt>
      <dd>There are cases when sponsoring per event is the best approach especially when the audience is more targeted. Among the benefits are speakership opportunities, brand offline and online exposure and special activity before or during the event.</dd>
    </dl>

    <p>Sponsorships may be in monetary form or in-kind. Here are a few examples of the latter:</p>

    <div class="row">
      <div class="col-lg-8 col-sm-10 col-sm-offset-1 col-lg-offset-2">
        <div class="thumbnail">
          <%= image_tag "sponsorships.jpg", :alt => "Sponsorships" %>
        </div>
      </div>
    </div>

    <ul>
      <li><strong>Venues</strong> - share your meeting or training rooms for <%= link_to 'Code Camps', events_main_path %></li>
      <li><strong>Food</strong> - for Code Camps and larger events</li>
      <li><strong>Giveaways</strong> - t-shirts, stickers, and other small tokens for attendees</li>
    </ul>

    <p>To learn more about sponsorships, email our VP Finance via <a href="mailto:jossi@devcon.ph">jossie@devcon.ph</a>.</p>
  </div>
  <%= render :partial => 'gi_sidebar', :locals => { :selected => 'sponsor' } %>
</div>

