<% title "Sponsor Events" %>
<% description "DevCon events are free and are made possible by the generous support from the community. Here's how you can sponsor events." %>
<% set_meta_tags :open_graph => {
  :title => "#{ENV['title']} | Sponsor Events",
  :description => "DevCon events are free and are made possible by the generous support from the community. Here's how you can sponsor events.",
  :type  => :website,
  :url   => sponsor_url,
  :image => [opengraph_thumb_url, { :width => 200, :height => 200 }]
} %>
<div class="row faq">
  <div class="col-sm-9">
    <h1>Sponsor Events</h1>
    <p><em>Coming soon...</em></p>
  </div>
  <%= render :partial => 'gi_sidebar', :locals => { :selected => 'sponsor' } %>
</div>

