<div class="row faq">
  <div class="col-sm-9">
    <h1>Be a Volunteer</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <h2>DevCon Membership</h2>

    <p>DevCon membership is based on meritocracy. The minimum requirement is for an individual to volunteer at least twice in separate DevCon-organized or DevCon partner events. Please remember that the volunteer work must be notable (eg, logistics support, speaker referral, event organization, photo/video documentation, etc).</p>

    <div class="row carlo-row">
      <div class="col-sm-3">
        <div class="carlo-caption">
          <p>Our VP for Membership Carlo Ledesma as a Participant in Globe Devathon</p>
          <p>(He started out as a co-organizer of a campus DevCon at the Mapúa Institute of Technology.)</p>
        </div>
      </div>
      <div class="col-sm-4">
        <%= image_tag "faq/devathon-carlo.jpg", :alt => "Carlo at Devathon" %>
      </div>
      <div class="col-sm-5">
        <%= image_tag "faq/devathon.jpg", :alt => "Globe Devathon" %>
      </div>
    </div>

    <p>In order to apply for membership, one must be nominated by an active DevCon member. This will be reviewed by the general membership of DevCon via online assessment and voting. Nominations are held each May and October of the year. To know more about becoming a member or volunteer, email our VP for Membership via <a href="mailto:carlo@devcon.ph">carlo@devcon.ph</a>.</p>
  </div>
  
  <%= render :partial => 'gi_sidebar', :locals => { :selected => 'volunteer' } %>
</div>
