*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
coverage/*
/config/database.yml
/public/uploads

bin/annotate
bin/autospec
bin/cap
bin/capify
bin/cdiff
bin/coderay
bin/colortab
bin/coveralls
bin/decolor
bin/erubis
bin/guard
bin/htmldiff
bin/launchy
bin/ldiff
bin/nokogiri
bin/pry
bin/rackup
bin/restclient
bin/rspec
bin/ruby_parse
bin/ruby_parse_extract_error
bin/sass
bin/sass-convert
bin/scss
bin/spork
bin/sprockets
bin/term_display
bin/term_mandel
bin/thor
bin/tilt
bin/tt
bin/unicorn
bin/unicorn_rails
