<% provide(:title, "Comments on #{@title}") %>

<section id="info">
  <%= link_to @title, @commentable %>
</section>

<ul id="comments">
  <%= render @comments %>
</ul>

<% if can? :create, Comment %>
  <%= render 'form' %>
<% end %>
