<h1>Partners</h1>

<p>Lorem ipsum dolor sit amet, seacula duis investigationes claritatem dolor vel ii autem commodo non habent cum. Id delenit quam est, feugiat eleifend demonstraverunt sed lorem. Ad per mazim ipsum consectetuer laoreet nunc. Ut, sequitur lectores fiant quarta littera autem ullamcorper vero quod mutationem.</p>

<h2>Awesome Partners</h2>

<p><em>blurb?</em><p>

<h2>Cool Partners</h2>

<p><em>blurb?</em><p>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2>Other Institutions and Groups</h2>
    <p>These groups have partnered with us in the past <em>blurb?</em><p>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h3>Schools</h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h3>Companies</h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h3>User Groups</h3>
      </div>
    </div>
  </div>
</div>


