<% title 'Articles' %>
<% description "News, articles, and random blog posts from our members." %>
<% set_meta_tags :open_graph => {
  :title => "Articles | #{ENV['title']}",
  :description => "News, articles, and random blog posts from our members.",
  :type  => :article,
  :url   => articles_url,
  :image => [opengraph_thumb_url, { :width => 200, :height => 200 }]
} %>
<h1>Articles</h1>
<% if can? :create, Article %>
  <p>
  <%= link_to 'New article', new_article_path, :class => "btn btn-default" %>
  </p>
<% end %>

<%= render @articles %>

<%= will_paginate %>

<%= render :partial => "shared/disqus_count" %>
