<% provide(:title, 'Articles') %>
<h1>Articles</h1>
<% if can? :create, Article %>
  <%= link_to 'New article', new_article_path %>
<% end %>

<%= render @articles %>

<%= link_to 'Back to articles', articles_path %>
<%= will_paginate %>
