<% if object.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <p>The form contains <%= pluralize(object.errors.count, 'error') %></p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
