<% title 'Previous Events' %>
<% description "Know about our past events!" %>
<% set_meta_tags :open_graph => {
  :title => "Previous Events | #{ENV['title']}",
  :description => "Know about our past events!",
  :type  => :article,
  :url   => previous_events_url,
  :image => opengraph_thumb_url
} %>
<h1>Previous Events</h1>

<% @previous_events.each do |month, event_group| %>
  <h2><%= month %></h2>
  <% event_group.reverse.each do |event| %>
    <div class="row previous-event">
      <div class="col-sm-12">
        <h3><%= link_to event.name, event, :class => 'title' %></h2>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row go-back">
  <div class="col-sm-12">
    <p><%= link_to 'Go back events list', events_path %></p>
  </div>
</div>
