@import 'bootstrap';

/* mixins, variables, etc. */

$gray-light: #999;
$gray-lighter: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

p {
  font-size: 1em;
  line-height: 1.3em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-brand {
  padding: 12px 15px 8px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-lighter;
  color: $gray-light;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* main page */

.jumbotron {
  padding: 30px 30px 0px;
  margin-bottom: 0;
  background:#fff !important;
  h1 {
    margin: 20px 0 30px;
  }
  p {
    font-family:Georgia, serif !important;
  }
  p.blurb {
    font-size: 20px;
    font-weight: 200;
    line-height: 27px;
  }
  h2 {
    margin-top:20px !important;
    font-family:Georgia, serif !important;
  }
}

.event-types {
  h3 {
    font-size: 18px;
    line-height: 27px;
  }
  p {
    font-family: Arial,sans-serif !important;
    font-size: 12px;
    line-height: 18px;
  }
}

.frontpage-share {
  padding: 50px 30px 0px;
}

.partner-area {
  border-top:2px #ccc solid;
  border-bottom: 2px #ccc solid;
  margin:50px 0;
  padding:20px 0;
  margin-left:0 !important;
  ul {
    margin:0px !important;
    padding-left: 0px;
  }
  ul li {
    display:inline;
    margin:0 5px;
  }
  .partner-list {
    li {
      float: left;
      text-align: center;
      /* width: 180px; */
      height: 150px;
      display: block;
    }
    li.diamond {
      width: 300px;
    }
  }
}

.social-icon {
  max-height: 34px;
  margin-top: -7px;
}
.social-link {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 10px;
}

/* faq */

#toc {
  padding-top: 20px;
}
.faq-download {
  margin-top: 40px;
  img {
    margin-top: -4px;
  }
}
.faq {
  div.question {
    padding-top: 50px;
  }
  h2 {
    margin-bottom: 20px;
  }
  p {
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 20px;
  }
  .thumbnail {
    text-align: center;
    margin-bottom: 20px;
  }
  .thumbnail.h2h-faq {
    margin-bottom: 0px;
  }
  .caption {
    font-style: italic;
    font-size: 90%;
  }
  
  h3 {
    margin: 20px 0 0px; 
    font-size: 1.1em;
    .caps {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  h3#president {
    margin-top: 0;
  }
  .profile {
    p.twitter-handle {
      margin-bottom: 3px;
    }
  }
  .officer {
    margin-bottom: 10px;
    p {
      margin-bottom: 0;
    }
  }
  img.profile-pic {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  .carlo-row, .hack2hatch-row {
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }

  .carlo-caption {
    font-style: italic;
    padding: 30px 20px;
    p {
      text-align: left;
      font-size: 90%;
    }
  }
  .chapter-images {
    img {
      width: 100%;
    }
  }
  .chapter-next-row {
    margin-top: 20px;
  }
  .chapter-caption {
    font-style: italic;
    p {
      padding: 0 50px;
    }
  }
  p.apply-local-chapter {
    padding: 30px 0 10px;
  }
}
/* articles, resource-speaker */

.article, .resource-person, .event {
  border-bottom: 1px solid $gray-lighter;
  padding: 20px 0 30px;
  .title, .subtitle {
    font-family:Georgia, serif !important;
    font-weight: normal;
  }
  h1 {
    margin-bottom: 0px;
  }

  small {
    font-family:Georgia, serif !important;
    color: gray;
  }
  .article-content {
    padding-bottom: 30px;
  }
}

.twitter-share {
  width: 90px !important;
}

.fb-share {
  width: 90px !important;
}

.gplus-share {
  width: 70px !important;
}

.previous-event {
  .title, .subtitle {
    font-family:Georgia, serif !important;
    font-weight: normal;
  }
}

.parent-note {
  font-family: Georgia, serif !important;
  font-style: italic;
  font-weight: normal;
}

.go-back {
  margin-top: 50px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

.gravatar {
  float: left;
  margin-right: 10px;
}
