@import 'bootstrap';

/* mixins, variables, etc. */

$grayLight: #999;
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar .nav > li > a {
  padding: 13px 15px 10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;

  a {
    color: $gray;

    &:hover {
      color: $grayDarker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* main page */

.hero-unit {
  padding: 30px;
  margin-bottom: 0;
  background:#fff !important;
  h1 {
    margin: 20px 0 30px;
  }
  p {
    font-family:Georgia, serif !important;
  }
  p.blurb {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
  }
  h2 {
    margin-top:20px !important;
    font-family:Georgia, serif !important;
  }
}

.event-types {
  h3 {
    font-size: 18px;
    line-height: 27px;
  }
  p {
    font-family: Arial,sans-serif !important;
    font-size: 12px;
    line-height: 18px;
  }
}

.partner-area {
  border-top:2px #ccc solid;
  border-bottom: 2px #ccc solid;
  margin:50px 0;
  padding:20px 0;
  margin-left:0 !important;
  ul {
    margin:0px !important;
  }
  ul li {
    display:inline;
    margin:0 5px;
  }
  .partner-list li {
    float: left;
    text-align: center;
    width: 180px;
    height: 150px;
    display:block;
  }
}

/* articles */

.article-info {
  border-bottom: 1px solid $grayMediumLight;
}

.article-title {

}

.article-content {
  padding-bottom: 30px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

.gravatar {
  float: left;
  margin-right: 10px;
}
