<!-- Piwik -->
<script type="text/javascript" src="http://analytics.devcon.ph/piwik.js"></script>
<script type="text/javascript">
(function() {
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
})();
</script><noscript><p><img src="http://analytics.devcon.ph/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
<!-- GoRated.ph -->
<script type="text/javascript">
var gorated_attr = {
'id' : 26,
'url'	: 'http://devcon.ph/',
'button_align'	: 'right',
'button_label'	: 'us'};	
</script>
<script type="text/javascript" src="http://gorated.ph/assets/scripts/rating.js"></script>
