<footer class="footer">
  <small>
    &copy; 2012 - 2014 <%= link_to "Developers Connect Philippines", root_url %>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Fork this on GitHub', "https://github.com/devcon-ph/devcon" %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </nav>
</footer>
