<footer class="footer">
  <small>
    &copy; 2012 <%= link_to "Developers Connect Philippines", root_url %>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </nav>
</footer>
